# Hi :D
.vscode/laragon.log
.vscode/laragon/bin/apache/httpd-2.4.54-win64-VS16/logs/*
.vscode/laragon/bin/cmder/config/*
.vscode/laragon/bin/cmder/vendor/conemu-maximus5/ConEmu.xml
.vscode/laragon/data/mysql-8/*.pid
.vscode/laragon/data/mysql-8/#innodb_temp/*
.vscode/laragon/data/mysql-8/#innodb_redo/*
.vscode/laragon/bin/cmder/config/user-ConEmu.xml
.vscode/laragon/bin/cmder/vendor/conemu-maximus5/ConEmu.xml
