# Hi :D
.vscode/laragon.log
.vscode/laragon/bin/apache/httpd-2.4.54-win64-VS16/logs/*
.vscode/laragon/bin/cmder/config/*
.vscode/laragon/bin/cmder/vendor/conemu-maximus5/ConEmu.xml
.vscode/laragon/data/mysql-8/#ib_16384_0.dblwr
.vscode/laragon/data/mysql-8/binlog.000007
.vscode/laragon/data/mysql-8/binlog.000008
.vscode/laragon/data/mysql-8/binlog.000009
.vscode/laragon/data/mysql-8/binlog.index
.vscode/laragon/data/mysql-8/DESKTOP-T2TRSI.pid
.vscode/laragon/data/mysql-8/ib_buffer_pool
.vscode/laragon/data/mysql-8/ibdata1
.vscode/laragon/data/mysql-8/ibtmp1
.vscode/laragon/data/mysql-8/mysql.ibd
.vscode/laragon/data/mysql-8/mysqld.log
.vscode/laragon/data/mysql-8/undo_001
.vscode/laragon/data/mysql-8/undo_002
.vscode/laragon/data/mysql-8/#innodb_redo/*

